body {
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin: 20px auto;
  display: block;
}

#results {
  font-size: 20px;
  margin: 10px;
}

#found {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.found-name {
  padding: 10px 20px;
  background-color: #333;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 20px;
}

.card {
  text-align: center;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.name-hidden {
  visibility: hidden;
  margin-top: 8px;
  color: #ccc;
}

.name-visible {
  visibility: visible;
  color: white;
}

#ranking {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: #1c1c1c;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#ranking h3 {
  margin-bottom: 8px;
  color: #ffd700;
}

#ranking div {
  padding: 4px 0;
  border-bottom: 1px solid #333;
}

.silhouette {
  filter: grayscale(100%) brightness(0.6) contrast(0);
}


.card img.revealed {
  animation: popin 0.4s ease-out;
}

.revealed {
  animation: popin 0.4s ease;
}

@keyframes popin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
